.player-container {
  width: 800px;
  height: 600px;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.3);
  background: #000;
  display: flex;
  flex-direction: column;
}

.video-container {
  flex-grow: 1;
}

.controls-wrapper {
  background-color: black;
  flex-shrink: 0;
  display: flex;
}

.control-button {
  color: white;
  font-size: 20px;
  border: none;
  cursor: pointer;
  background-color: transparent;
  width: 35px;
  height: 45px;
  margin: 1px;
}

.spacer {
  flex-grow: 1;
}

.player-time {
  color: white; /* Белый цвет текста */
  font-family: "Roboto", sans-serif; /* Как в макете */
  font-size: 16px; /* Размер из дизайна */
  margin-left: 2px; /* Отступ от соседних кнопок */
  display: flex; /* Для выравнивания элементов в линию */
  align-items: center; /* Вертикальное центрирование */
}